@font-face {
    font-family: 'hattori_hanzolight';
    src: url('../fonts/Hattori_Hanzo-webfont.eot');
    src: url('../fonts/Hattori_Hanzo-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Hattori_Hanzo-webfont.woff') format('woff'),
         url('../fonts/Hattori_Hanzo-webfont.ttf') format('truetype'),
         url('../fonts/Hattori_Hanzo-webfont.svg#hattori_hanzolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

.background-wrapper {
    width: 100%;
}

.background-img {
    max-width: 100%;
}

.overlay-text {
    font-family: 'hattori_hanzolight';
   position: absolute; 
   top: 200px; 
   left: 100px;      
    background-color: white;
    color: #34495e !important;
        padding: 16px 20px;
}

.intro {
    margin-top: 10%;
}

body {
    background-color: #34495e !important;
}

.logo-font {
    font-family: 'hattori_hanzolight';
}