.flat-primary-butt {
    background: #1abc9c !important;
}

.flat-primary-grad-butt {
    background-image: linear-gradient(#1ABC9C 50%, #16A085 50%) !important;
}
.flat-butt {
    display: inline-block;
    margin: 0 5px;
    border-radius: 6px;
    border: 0;
    color: #FFF;
    cursor: pointer;
    outline: 0;
}

.space {
    height: 33%;
}

.question {    
    font-family: 'Open Sans', sans-serif;    
}

body {
    background: #2f4154;
}

.janeikanskje {
    display: none;
    text-align: center;
    color: white !important;
    margin-bottom: 20%;
    font-size: 386px;
}
.btn-xlarge {
    padding: 18px 28px;
    font-size: 80px; 
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

#other-stuff {
    display: none;
}