.flat-primary-butt {
    background: #1abc9c !important;
}

.flat-primary-grad-butt {
    background-image: linear-gradient(#1ABC9C 50%, #16A085 50%) !important;
}
.flat-butt {
    display: inline-block;
    margin: 0 5px;
    border-radius: 6px;
    border: 0;
    color: #FFF;
    cursor: pointer;
    outline: 0;
}


.question {    
    font-family: 'Open Sans', sans-serif;    
}

body {
    background: #2f4154;
}
a {
    color:#ffffff;
    font-size: 12px;
    display: block;
    text-align: center;
}
.janeikanskje {
}
.btn-xlarge {
    padding: 18px 28px;
    font-size: 113px; 
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}