@font-face{ 
	font-family: 'Raleway';
	src: url('fonts/raleway_thin-webfont.eot');
	src: url('fonts/raleway_thin-webfont.woff') format('woff'),
	     url('fonts/raleway_thin-webfont.ttf') format('truetype'),
	     url('fonts/raleway_thin-webfont.svg#fonts/raleway_thin-webfont') format('svg');
}
body {
    background-color: black;
    letter-spacing: 5px;
}
.jersey {
    margin-top: 20px;
    z-index: 1;
}

.stripe {
    z-index: 10;
    background-color: #34495e;
    position: absolute;
    width: 365px;
    height: 10px;
}

.small {    
    z-index: 10;
    background-color: #34495e;
    position: absolute;
    width: 118px;
    height: 2px;
    -webkit-transform: rotate(68.5deg);
}

.en {    
    top: 270px;
    left: 15px;
}
.to {    
    top: 263px;
    left: 21px;
    width: 129px !important;
}
.tre {    
    top: 260px;
    left: 30px;
    width: 137px !important;
}
.fire {    
    top: 255px;
    left: 40px;
    width: 143px !important;
}
.fem {    
    top: 250px;
    left: 52px;
    width: 144px !important;
}

.one {
    top: 450px;
    left: 214px;
}

.two {
    top: 490px;
    left: 214px;
}
.three {
    top: 530px;
    left: 214px;
}
.four {
    top: 570px;
    left: 218px;
    width: 353px !important;
}
.five {
    top: 610px;
    left: 222px;
    width: 345px !important;
}

.logo {
    z-index: 10;
    position: absolute;
    top: 300px;
    left: 230px;
    font-family: 'Lato';
    font-size: 40px;
    color: #34495e;
}
.invite-container {
    font-family: 'Raleway';
    margin: 160px 70px 400px 200px;
    padding: 50px 40px 40px 90px;
    height: 300px;
    width: 500px;
    background: black;
    text-transform: uppercase;
}
.background {
    height: 100%;
    width: 100%;
}

.pt {    
    z-index: 10;
    position: absolute;
    font-family: 'Lato';
    font-size: 40px;
    color: white;
    top: 1201px;
    left: 106px;
    font-size: 63px;
}

.circles {  
    z-index: 10;
    position: absolute;
    font-family: 'Lato';
    font-size: 61px;
    color: white;
    top: 1196px;
    left: 443px;
    line-height: 39px;
}
.second-logo {  
    z-index: 10;
    position: absolute;
    font-family: 'Lato';
    font-size: 24px;
    color: white;
    top: 892px;
    left: 888px;
}
